[submodule "rokol"]
	path = crates/rokol
	url = https://github.com/toyboot4e/rokol
[submodule "crates/rokol"]
	path = crates/snow2d/rokol
	url = https://github.com/toyboot4e/rokol
[submodule "crates/xdl"]
	path = crates/snow2d/xdl
	url = https://github.com/toyboot4e/xdl
